{
    "openapi": "3.0.0",
    "info": {
        "title": "Shortcut API",
        "description": "Shortcut API",
        "version": "3.0"
    },
    "servers": [
        {
            "url": "https://api.app.shortcut.com/api/v3"
        }
    ],
    "security": [
        {
            "api_token": []
        }
    ],
    "paths": {
        "/categories": {
            "get": {
                "summary": "List Categories",
                "description": "List Categories returns a list of all Categories and their attributes.",
                "operationId": "listCategories",
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Category"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            },
            "post": {
                "summary": "Create Category",
                "description": "Create Category allows you to create a new Category in Shortcut.",
                "operationId": "createCategory",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCategory"
                            }
                        }
                    },
                    "required": true,
                    "description": "Payload for the Create Category operation"
                },
                "responses": {
                    "201": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Category"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/categories/{categoryPublicId}": {
            "get": {
                "summary": "Get Category",
                "description": "Get Category returns information about the selected Category.",
                "operationId": "getCategory",
                "parameters": [
                    {
                        "name": "categoryPublicId",
                        "in": "path",
                        "description": "The unique ID of the Category",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Category"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            },
            "put": {
                "summary": "Update Category",
                "description": "Update Category allows you to replace a Category name with another name. If you try to name a Category something that already exists, you will receive a 422 response.",
                "operationId": "updateCategory",
                "parameters": [
                    {
                        "name": "categoryPublicId",
                        "in": "path",
                        "description": "The unique ID of the Category you wish to update",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateCategory"
                            }
                        }
                    },
                    "required": true,
                    "description": "Payload for the Update Category operation"
                },
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Category"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            },
            "delete": {
                "summary": "Delete Category",
                "description": "Delete Category can be used to delete any Category.",
                "operationId": "deleteCategory",
                "parameters": [
                    {
                        "name": "categoryPublicId",
                        "in": "path",
                        "description": "The unique ID of the Category",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/categories/{categoryPublicId}/milestones": {
            "get": {
                "summary": "List Category Milestones",
                "description": "List Category Milestones returns a list of all Milestones with the Category.",
                "operationId": "listCategoryMilestones",
                "parameters": [
                    {
                        "name": "categoryPublicId",
                        "in": "path",
                        "description": "The unique ID of the Category",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Milestone"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/categories/{categoryPublicId}/objectives": {
            "get": {
                "summary": "List Category Objectives",
                "description": "Returns a list of all Objectives with the Category.",
                "operationId": "listCategoryObjectives",
                "parameters": [
                    {
                        "name": "categoryPublicId",
                        "in": "path",
                        "description": "The unique ID of the Category",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Milestone"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/custom-fields": {
            "get": {
                "summary": "List Custom Fields",
                "operationId": "listCustomFields",
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CustomField"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/custom-fields/{customFieldPublicId}": {
            "get": {
                "summary": "Get Custom Field",
                "operationId": "getCustomField",
                "parameters": [
                    {
                        "name": "customFieldPublicId",
                        "in": "path",
                        "description": "The unique ID of the CustomField",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomField"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            },
            "put": {
                "summary": "Update Custom Field",
                "description": "Update Custom Field can be used to update the definition of a Custom Field. The order of items in the 'values' collection is interpreted to be their ascending sort order.To delete an existing enum value, simply omit it from the 'values' collection. New enum values may be created inline by including an object in the 'values' collection having a 'value' entry with no 'id' (eg. {'value': 'myNewValue', 'color_key': 'green'}).",
                "operationId": "updateCustomField",
                "parameters": [
                    {
                        "name": "customFieldPublicId",
                        "in": "path",
                        "description": "The unique ID of the CustomField",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateCustomField"
                            }
                        }
                    },
                    "required": true,
                    "description": "Payload for the Update Custom Field operation"
                },
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomField"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "409": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataConflictError"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            },
            "delete": {
                "summary": "Delete Custom Field",
                "operationId": "deleteCustomField",
                "parameters": [
                    {
                        "name": "customFieldPublicId",
                        "in": "path",
                        "description": "The unique ID of the CustomField",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/documents": {
            "get": {
                "summary": "List Docs",
                "description": "List Docs returns a list of Doc that the current user can read.",
                "operationId": "listDocs",
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DocSlim"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DisabledFeatureError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            },
            "post": {
                "summary": "Create Doc",
                "description": "Creates a new Doc. Supports markdown or HTML input via content_format parameter. WARNING: if content_format is not supplied, `content` input defaults to html.",
                "operationId": "createDoc",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateDoc"
                            }
                        }
                    },
                    "required": true,
                    "description": "Payload for the Create Doc operation"
                },
                "responses": {
                    "201": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocSlim"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DisabledFeatureError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/documents/{docPublicId}": {
            "get": {
                "summary": "Get Doc",
                "description": "Get a Doc by its public ID with content. Use content_format=html query parameter to include HTML content.",
                "operationId": "getDoc",
                "parameters": [
                    {
                        "name": "docPublicId",
                        "in": "path",
                        "description": "The Doc's public ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "content_format",
                        "in": "query",
                        "description": "Default content_format: markdown. Format of the content to return. If 'html', includes HTML content in response",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "markdown",
                                "html"
                            ]
                        },
                        "x-ballerina-name": "contentFormat"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Doc"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DisabledFeatureError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            },
            "put": {
                "summary": "Update Doc",
                "description": "Updates an existing Doc's title and/or content. Supports markdown or HTML input via content_format parameter. WARNING: if content_format is not supplied, `content` input defaults to html. When a document is updated: (1) For Tiptap-migrated docs, SSE events notify connected Tiptap clients to refresh. (2) For non-migrated docs, CKEditor cache is flushed and SSE events notify connected CKEditor users.",
                "operationId": "updateDoc",
                "parameters": [
                    {
                        "name": "docPublicId",
                        "in": "path",
                        "description": "The Doc's public ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateDoc"
                            }
                        }
                    },
                    "required": true,
                    "description": "Payload for the Update Doc operation"
                },
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Doc"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DisabledFeatureError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            },
            "delete": {
                "summary": "Delete Doc",
                "description": "Permanently deletes a Doc and its associated data. Requires admin access to the doc. When a document is deleted, connected clients will be notified via SSE events.",
                "operationId": "deleteDoc",
                "parameters": [
                    {
                        "name": "docPublicId",
                        "in": "path",
                        "description": "The Doc's public ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetDoc"
                            }
                        }
                    },
                    "required": true,
                    "description": "Payload for the Delete Doc operation"
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DisabledFeatureError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/documents/{docPublicId}/epics": {
            "get": {
                "summary": "List Document Epics",
                "description": "Get a list of all Epics related to this Document.",
                "operationId": "listDocumentEpics",
                "parameters": [
                    {
                        "name": "docPublicId",
                        "in": "path",
                        "description": "The public ID of the Document",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/EpicSlim"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DisabledFeatureError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/documents/{docPublicId}/epics/{epicPublicId}": {
            "put": {
                "summary": "Link Document to Epic",
                "description": "Create a relationship between a Document and an Epic.",
                "operationId": "linkDocumentToEpic",
                "parameters": [
                    {
                        "name": "docPublicId",
                        "in": "path",
                        "description": "The public ID of the Document",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "epicPublicId",
                        "in": "path",
                        "description": "The public ID of the Epic",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DisabledFeatureError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "**Either:** (1) Unprocessable **or** (2)  ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnprocessableError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Unlink Document from Epic",
                "description": "Remove a relationship between a Document and an Epic.",
                "operationId": "unlinkDocumentFromEpic",
                "parameters": [
                    {
                        "name": "docPublicId",
                        "in": "path",
                        "description": "The public ID of the Document",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "epicPublicId",
                        "in": "path",
                        "description": "The public ID of the Epic",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DisabledFeatureError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/entity-templates": {
            "get": {
                "summary": "List Entity Templates",
                "description": "List all the entity templates for the Workspace.",
                "operationId": "listEntityTemplates",
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/EntityTemplate"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            },
            "post": {
                "summary": "Create Entity Template",
                "description": "Create a new entity template for the Workspace.",
                "operationId": "createEntityTemplate",
                "requestBody": {
                    "description": "Request parameters for creating an entirely new entity template",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateEntityTemplate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityTemplate"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/entity-templates/disable": {
            "put": {
                "summary": "Disable Story Templates",
                "description": "Disables the Story Template feature for the Workspace.",
                "operationId": "disableStoryTemplates",
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/entity-templates/enable": {
            "put": {
                "summary": "Enable Story Templates",
                "description": "Enables the Story Template feature for the Workspace.",
                "operationId": "enableStoryTemplates",
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/entity-templates/{entityTemplatePublicId}": {
            "get": {
                "summary": "Get Entity Template",
                "description": "Get Entity Template returns information about a given entity template.",
                "operationId": "getEntityTemplate",
                "parameters": [
                    {
                        "name": "entityTemplatePublicId",
                        "in": "path",
                        "description": "The unique ID of the entity template",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityTemplate"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            },
            "put": {
                "summary": "Update Entity Template",
                "description": "Update an entity template's name or its contents.",
                "operationId": "updateEntityTemplate",
                "parameters": [
                    {
                        "name": "entityTemplatePublicId",
                        "in": "path",
                        "description": "The unique ID of the template to be updated",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request parameters for changing either a template's name or any of\n  the attributes it is designed to pre-populate.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateEntityTemplate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityTemplate"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            },
            "delete": {
                "summary": "Delete Entity Template",
                "operationId": "deleteEntityTemplate",
                "parameters": [
                    {
                        "name": "entityTemplatePublicId",
                        "in": "path",
                        "description": "The unique ID of the entity template",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/epic-workflow": {
            "get": {
                "summary": "Get Epic Workflow",
                "description": "Returns the Epic Workflow for the Workspace.",
                "operationId": "getEpicWorkflow",
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EpicWorkflow"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/epics": {
            "get": {
                "summary": "List Epics",
                "description": "List Epics returns a list of all Epics and their attributes.",
                "operationId": "listEpics",
                "parameters": [
                    {
                        "name": "includes_description",
                        "in": "query",
                        "description": "A true/false boolean indicating whether to return Epics with their descriptions",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        },
                        "x-ballerina-name": "includesDescription"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/EpicSlim"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            },
            "post": {
                "summary": "Create Epic",
                "description": "Create Epic allows you to create a new Epic in Shortcut.",
                "operationId": "createEpic",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateEpic"
                            }
                        }
                    },
                    "required": true,
                    "description": "Payload for the Create Epic operation"
                },
                "responses": {
                    "201": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Epic"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/epics/paginated": {
            "get": {
                "summary": "List Epics Paginated",
                "description": "List Epics with pagination returns a paginated list of Epics and their attributes.",
                "operationId": "listEpicsPaginated",
                "parameters": [
                    {
                        "name": "includes_description",
                        "in": "query",
                        "description": "A true/false boolean indicating whether to return Epics with their descriptions",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        },
                        "x-ballerina-name": "includesDescription"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page number to return, starting with 1. Defaults to 1",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "The number of Epics to return per page. Minimum 1, maximum 250, default 10",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "x-ballerina-name": "pageSize"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EpicPaginatedResults"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/epics/{epicPublicId}": {
            "get": {
                "summary": "Get Epic",
                "description": "Get Epic returns information about the selected Epic.",
                "operationId": "getEpic",
                "parameters": [
                    {
                        "name": "epicPublicId",
                        "in": "path",
                        "description": "The unique ID of the Epic",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Epic"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            },
            "put": {
                "summary": "Update Epic",
                "description": "Update Epic can be used to update numerous fields in the Epic. The only required parameter is Epic ID, which can be found in the Shortcut UI.",
                "operationId": "updateEpic",
                "parameters": [
                    {
                        "name": "epicPublicId",
                        "in": "path",
                        "description": "The unique ID of the Epic",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateEpic"
                            }
                        }
                    },
                    "required": true,
                    "description": "Payload for the Update Epic operation"
                },
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Epic"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            },
            "delete": {
                "summary": "Delete Epic",
                "description": "Delete Epic can be used to delete the Epic. The only required parameter is Epic ID.",
                "operationId": "deleteEpic",
                "parameters": [
                    {
                        "name": "epicPublicId",
                        "in": "path",
                        "description": "The unique ID of the Epic",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/epics/{epicPublicId}/comments": {
            "get": {
                "summary": "List Epic Comments",
                "description": "Get a list of all Comments on an Epic.",
                "operationId": "listEpicComments",
                "parameters": [
                    {
                        "name": "epicPublicId",
                        "in": "path",
                        "description": "The unique ID of the Epic",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ThreadedComment"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            },
            "post": {
                "summary": "Create Epic Comment",
                "description": "This endpoint allows you to create a threaded Comment on an Epic.",
                "operationId": "createEpicComment",
                "parameters": [
                    {
                        "name": "epicPublicId",
                        "in": "path",
                        "description": "The ID of the associated Epic",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateEpicComment"
                            }
                        }
                    },
                    "required": true,
                    "description": "Payload for the Create Epic Comment operation"
                },
                "responses": {
                    "201": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ThreadedComment"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/epics/{epicPublicId}/comments/{commentPublicId}": {
            "get": {
                "summary": "Get Epic Comment",
                "description": "This endpoint returns information about the selected Epic Comment.",
                "operationId": "getEpicComment",
                "parameters": [
                    {
                        "name": "epicPublicId",
                        "in": "path",
                        "description": "The ID of the associated Epic",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "commentPublicId",
                        "in": "path",
                        "description": "The ID of the Comment",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ThreadedComment"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            },
            "put": {
                "summary": "Update Epic Comment",
                "description": "This endpoint allows you to update a threaded Comment on an Epic.",
                "operationId": "updateEpicComment",
                "parameters": [
                    {
                        "name": "epicPublicId",
                        "in": "path",
                        "description": "The ID of the associated Epic",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "commentPublicId",
                        "in": "path",
                        "description": "The ID of the Comment",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateComment"
                            }
                        }
                    },
                    "required": true,
                    "description": "Payload for the Update Epic Comment operation"
                },
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ThreadedComment"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            },
            "post": {
                "summary": "Create Epic Comment Comment",
                "description": "This endpoint allows you to create a nested Comment reply to an existing Epic Comment.",
                "operationId": "createEpicCommentComment",
                "parameters": [
                    {
                        "name": "epicPublicId",
                        "in": "path",
                        "description": "The ID of the associated Epic",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "commentPublicId",
                        "in": "path",
                        "description": "The ID of the parent Epic Comment",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCommentComment"
                            }
                        }
                    },
                    "required": true,
                    "description": "Payload for the Create Epic Comment Comment operation"
                },
                "responses": {
                    "201": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ThreadedComment"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            },
            "delete": {
                "summary": "Delete Epic Comment",
                "description": "This endpoint allows you to delete a Comment from an Epic.",
                "operationId": "deleteEpicComment",
                "parameters": [
                    {
                        "name": "epicPublicId",
                        "in": "path",
                        "description": "The ID of the associated Epic",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "commentPublicId",
                        "in": "path",
                        "description": "The ID of the Comment",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/epics/{epicPublicId}/documents": {
            "get": {
                "summary": "List Epic Documents",
                "description": "Get a list of all Documents related to this Epic.",
                "operationId": "listEpicDocuments",
                "parameters": [
                    {
                        "name": "epicPublicId",
                        "in": "path",
                        "description": "The unique ID of the Epic",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DocSlim"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/epics/{epicPublicId}/health": {
            "get": {
                "summary": "Get Epic Health",
                "description": "Get the current health for the specified Epic.",
                "operationId": "getEpicHealth",
                "parameters": [
                    {
                        "name": "epicPublicId",
                        "in": "path",
                        "description": "The unique ID of the Epic",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Health"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            },
            "post": {
                "summary": "Create Epic Health",
                "description": "Create a new health status for the specified Epic.",
                "operationId": "createEpicHealth",
                "parameters": [
                    {
                        "name": "epicPublicId",
                        "in": "path",
                        "description": "The unique ID of the Epic",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateEpicHealth"
                            }
                        }
                    },
                    "required": true,
                    "description": "Payload for the Create Epic Health operation"
                },
                "responses": {
                    "201": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Health"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/epics/{epicPublicId}/health-history": {
            "get": {
                "summary": "List Epic Healths",
                "description": "List the history of health statuses for the specified Epic, most recent first.",
                "operationId": "listEpicHealths",
                "parameters": [
                    {
                        "name": "epicPublicId",
                        "in": "path",
                        "description": "The unique ID of the Epic",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Health"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/epics/{epicPublicId}/stories": {
            "get": {
                "summary": "List Epic Stories",
                "description": "Get a list of all Stories in an Epic.",
                "operationId": "listEpicStories",
                "parameters": [
                    {
                        "name": "epicPublicId",
                        "in": "path",
                        "description": "The unique ID of the Epic",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "includes_description",
                        "in": "query",
                        "description": "A true/false boolean indicating whether to return Stories with their descriptions",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        },
                        "x-ballerina-name": "includesDescription"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/StorySlim"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/external-link/stories": {
            "get": {
                "summary": "Get External Link Stories",
                "description": "Get Stories which have a given External Link associated with them.",
                "operationId": "getExternalLinkStories",
                "parameters": [
                    {
                        "name": "external_link",
                        "in": "query",
                        "description": "The external link associated with one or more stories",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maxLength": 2048,
                            "pattern": "^https?://.+$",
                            "type": "string"
                        },
                        "x-ballerina-name": "externalLink"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/StorySlim"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/files": {
            "get": {
                "summary": "List Files",
                "description": "List Files returns a list of all UploadedFiles in the workspace.",
                "operationId": "listFiles",
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UploadedFile"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            },
            "post": {
                "summary": "Upload Files",
                "description": "Upload Files uploads one or many files and optionally associates them with a story.\n   Use the multipart/form-data content-type to upload.\n   Each `file` key should contain a separate file.\n   Each UploadedFile's name comes from the Content-Disposition header \"filename\" directive for that field.",
                "operationId": "uploadFiles",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/UploadFilesRequest"
                            }
                        }
                    },
                    "description": "Payload for the Upload Files operation"
                },
                "responses": {
                    "201": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UploadedFile"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/files/{filePublicId}": {
            "get": {
                "summary": "Get File",
                "description": "Get File returns information about the selected UploadedFile.",
                "operationId": "getFile",
                "parameters": [
                    {
                        "name": "filePublicId",
                        "in": "path",
                        "description": "The File\u2019s unique ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadedFile"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            },
            "put": {
                "summary": "Update File",
                "description": "Update File updates the properties of an UploadedFile (but not its content).",
                "operationId": "updateFile",
                "parameters": [
                    {
                        "name": "filePublicId",
                        "in": "path",
                        "description": "The unique ID assigned to the file in Shortcut",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateFile"
                            }
                        }
                    },
                    "required": true,
                    "description": "Payload for the Update File operation"
                },
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadedFile"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            },
            "delete": {
                "summary": "Delete File",
                "description": "Delete File deletes a previously uploaded file.",
                "operationId": "deleteFile",
                "parameters": [
                    {
                        "name": "filePublicId",
                        "in": "path",
                        "description": "The File\u2019s unique ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/groups": {
            "get": {
                "summary": "List Groups",
                "description": "A group in our API maps to a \"Team\" within the Shortcut Product. A Team is a collection of Users that can be associated to Stories, Epics, and Iterations within Shortcut.",
                "operationId": "listGroups",
                "parameters": [
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Filter groups by their archived state. If true, returns only archived groups. If false, returns only unarchived groups. If not provided, returns all groups",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Group"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            },
            "post": {
                "summary": "Create Group",
                "operationId": "createGroup",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateGroup"
                            }
                        }
                    },
                    "required": true,
                    "description": "Payload for the Create Group operation"
                },
                "responses": {
                    "201": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Group"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnusableEntitlementError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/groups/{groupPublicId}": {
            "get": {
                "summary": "Get Group",
                "operationId": "getGroup",
                "parameters": [
                    {
                        "name": "groupPublicId",
                        "in": "path",
                        "description": "The unique ID of the Group",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Group"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            },
            "put": {
                "summary": "Update Group",
                "operationId": "updateGroup",
                "parameters": [
                    {
                        "name": "groupPublicId",
                        "in": "path",
                        "description": "The unique ID of the Group",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateGroup"
                            }
                        }
                    },
                    "required": true,
                    "description": "Payload for the Update Group operation"
                },
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Group"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnusableEntitlementError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/groups/{groupPublicId}/stories": {
            "get": {
                "summary": "List Group Stories",
                "description": "List the Stories assigned to the Group. (By default, limited to 1,000).",
                "operationId": "listGroupStories",
                "parameters": [
                    {
                        "name": "groupPublicId",
                        "in": "path",
                        "description": "The unique ID of the Group",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to return. (Defaults to 1000, max 1000)",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The offset at which to begin returning results. (Defaults to 0)",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/StorySlim"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Schema mismatch"
                    },
                    "404": {
                        "description": "Resource does not exist"
                    },
                    "422": {
                        "description": "Unprocessable"
                    }
                }
            }
        },
        "/health/{healthPublicId}": {
            "put": {
                "summary": "Update Health",
                "description": "Update an existing health status by its ID.",
                "operationId": "updateHealth",
                "parameters": [
                    {
                        "name": "healthPublicId",
                        "in": "path",
                        "description": "The unique ID of the Health record",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateHealth"
                            }
                        }
                    },
                    "required": true,
[...]
